<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceDirectory" value="C:\source1" />
		<add key="DestinationDirectory" value="C:\destination" />
		<add key="SearchText" value="" />
		<add key="CaseSensitive" value="false" />
	</appSettings>
</configuration>