<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<targets>
		<target name="logConsole" xsi:type="Console"
				layout="${level:uppercase=true} | ${message}
				${exception:format=tostring}"/>

		<target name="infoLogFile" xsi:type="File" fileName="LogFile.txt"
				layout="${longdate} * ${level} * ${callsite:includeSourcePath=true} * ${message}" keepFileOpen="false"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logConsole"/>
		<logger name="*" minlevel="Debug" maxlevel="Error" writeTo="infoLogFile"/>
	</rules>
</nlog>